BODY {
	FONT-SIZE: 12px; FONT-FAMILY: arial,sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: arial,sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial,sans-serif
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: arial,sans-serif
}
DIV {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial,sans-serif
}
LI {
	FONT-SIZE: 12px;
	FONT-FAMILY: arial,sans-serif;
	color: #4c4c4c;
}
UL {
	FONT-SIZE: 12px; FONT-FAMILY: arial,sans-serif
}
A {
	COLOR: #ff4f00; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
TD.hdr {
	PADDING-LEFT: 12px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #ffffff
}
H3 {
	MARGIN-TOP: 0px; COLOR: #ff4f00
}
TD.cont {
	PADDING-LEFT: 30px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 4px;
	font-weight: bold;
}
DIV.cont {
	PADDING-RIGHT: 20px; PADDING-BOTTOM: 20px
}
TD.sign {
	PADDING-RIGHT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px
}
.txtbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #6591DA;
}
.smtxt {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.hdd {
	color: #000000;
	text-decoration: none;
}
a.hdd:active {
	text-decoration: none;
}
a.hdd:hover {
	text-decoration: none;
}
.underline {
	text-decoration: underline;
}
h4 {
	color: #333333;
}
h5 {
	color: #333333;
}
.728x90 {
	height: 90px;
	width: 728px;
}
.fixedwz {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}
.ADsky {
	height: 600px;
	width: 160px;
	margin-right: 17px;
	margin-top: 10px;
}
.AD234 {
	width: 234;
	height: 60;
	margin-top: 20;
}
