<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<title>Salaxios</title>
<link href="/assets/main.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	background-image: url(https://wintervein.github.io/assets/1b.gif);
}
-->
</style>
</head>
<body>
<table width="780" height="600" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr valign="top">
    <td width="160" rowspan="2">&nbsp;</td>
    <td bgcolor="#02c8f2"><p><a href="https://wintervein.github.io/index.html"><img src="https://wintervein.github.io/assets/logo.png" alt="vbalink" width="225" height="80" border="0"></a></p>
    </td>
  </tr>
  <tr valign="top">
    <td><h2 class="g"><p></p>Telling A Story Through An Interactive Game.</h2>
      <h3 class="g">First game is a work in progress</h3>
	  <font size="-1"><b>Contact the devs and ask us questions! <a href="mailto:salaxios@proton.me">salaxios@proton.me</a><br>
    <font color="#008000"><span dir="ltr"><p class="g"><img src="https://wintervein.github.io/assets/arrow-s.gif" width="10" height="10" hspace="3" align="left">-Salaxios Studio</b></span></font></font>
      </p><p class="g"><a href="file:///C:/Downloaded%20Web%20Sites/www.vbalink.info/index.htm"><img src="https://wintervein.github.io/assets/vba-link-lan.jpg" alt="vba link visualboy advance emu" width="468" height="193" border="0"></a>            
      </p>
          <font size="-1"> <b></b> <b></b></font></p>
      <p class="g"><a rel="nofollow" href=""><b></b></a>
        <font size="-1"><b><b></b><b></b><b></b></b></font></p>
	   {{ content }}
      <p class="g"><img src="https://wintervein.github.io/assets/arrow-s.gif" width="10" height="10" hspace="3" align="absmiddle"><a href="https://wintervein.github.io/index.html"><img src="https://wintervein.github.io/assets/vbalink-info.gif" alt="vbalink lan link emulator" width="88" height="31" hspace="5" vspace="20" border="0"></a></p>
      <p class="g">&nbsp;</p></td>
  </tr>
</tbody></table>

</body></html>